# Microsoft Office (Word, PowerPoint, Excel)
*.pptx
*.docx
*.xlsx
*.pdf

# Office Temporary Files (The hidden "owner" files)
~$*
.~$*

# Jupyter Notebooks and Python
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
__pycache__/
*.py[cod]

# Specific duplicates/backups
*(1).ipynb
* copy.*